<freud-menubar
  [startImgAlt]="'Home'"
  [bgColor]="false"
  [startImgSrc]="'https://global-uploads.webflow.com/613f7ca80295647d415b0d85/62ff8355c7c5855037528563_Logotipo1.svg'"
  [startImgHref]="'https://zenklub.com.br'"
  [items]="items"
></freud-menubar>

<div class="freud-grid-fixed">
  <div class="freud-row" *ngIf="component === 'home'">
    <div class="freud-col-12">
      <p class="freud-typography h1SemiboldAuto" style="text-align: center;">Home page</p>
      <freud-image
        src="https://images.pexels.com/photos/259526/pexels-photo-259526.jpeg"
        [preview]="true"
        [height]="'auto'">
      </freud-image>
    </div>
    <div class="freud-col-6">
      <p class="freud-typography h3SemiboldAuto" style="text-align: center;">Galeria</p>
      <freud-gallery
        [images]="images"
        [showThumbnails]="true">
      </freud-gallery>
    </div>
    <div class="freud-col-3">
      <freud-card [header]="'Example card'">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </freud-card>
    </div>

    <div class="freud-col-3">
      <freud-card [header]="'Example card advanced'">
        <ng-container freudTemplateHeader>
          <img
            alt="Card"
            src="https://zenklub.github.io/freud-ds/assets/img/img.png"
            style="height: 150px;object-fit: cover"
          />
        </ng-container>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      </freud-card>
    </div>
  </div>

  <div class="freud-row" *ngIf="component === 'form'">
    <app-form class="freud-col-12"></app-form>
  </div>
</div>